@import "tailwindcss";

/* Custom Scrollbar for BalancePro Theme */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #04152d; }
::-webkit-scrollbar-thumb { background: #ea580c; border-radius: 10px; }

@theme {
  /* Yahan humne tere colors define kar diye jo body mein use ho rahe hain */
  --color-brand-light: #f9fafb;
  --color-brand-navy: #0A192F;
  --color-brand-orange: #FF8C00;
}

:root {
  --ion-color-primary: #0b3161 !important;
}

body {
  /* Ab Tailwind ko pata hai ki brand-light kya hai */
  @apply bg-brand-light text-brand-navy;
}
